@pantalla screen{
    *{ font-family: times }
}

body{
    font-size: 14px;
    background: #333;
}

@media screen and (min-width:400px) and (max-width:700px) { 
    body{
        font-size: 20px;
        background: #olab07;
    }
}

