.ejemplo{
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding 20px;
    position: relative;
    height: 100px;
}




.figura{
    position: absolute;
    left: 0;
    height: 8px;
    padding: 25px;
    width: 8px;
    background-color: #caebb7;
    border: 2px solid #5b973b;
    animation: mover 4s ease 0 infinite normal running;
    -o-animation: mover 4s ease 0 infinite normal running;
    -ms-animation: mover 4s ease 0 infinite normal running;
    -moz-animation: mover 4s ease 0 infinite normal running;
    -webkit-animation: mover 4s ease 0 infinite normal running;
    
}
    
    
@keyframes mover{
    0%{
        left: 0%;
        top:0%;
        transform: 
    50%{
        left: 90%;
        transform: rotate(1080deg);
    }
    100%{
        left: 0%;
        
    }
} 
    
@-webkit kryframes mover{
    
     0%{
        left: 0%;
        
    }
    50%{
        left: 90%;
       -webkit-transform: rotate(1080deg);
    }
    100%{
        left: 0%;
        
    }
    
    
}
    
